html {
  scroll-behavior: smooth;
}

body {
  background-color: linen;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 5px;
}

details img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 2px solid red;
}

summary {
  cursor: pointer;
}

#mapid {
  width: 800px;
  max-width: 98%;
}

textarea {
  max-width: 98%;
  height: 200px;
}

input[type="button"] {
  margin: 10px 0;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  cursor: pointer;
}

iframe {
  max-width: 100%;
}